@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 5px 0;
  background-color: #42c1d6;
}

body,
.header__img-content,
.hero__header {
  display: grid;
  place-items: center;
}

.hero {
  background-color: #fee332;
  width: 50%;
  min-width: 230px;
  max-width: 380px;
  padding: 50px 30px;
  border-radius: 12px;
}

/* header */
.hero__header .header__img-content {
  border: 3px solid black;
  padding: 5px;
  min-width: 110px;
  width: 25%;
  border-radius: 50%;
}

.hero__header .header__img-profile {
  width: 100%;
  height: 90px;
  border-radius: 50%;
}

.header__about {
  text-align: center;
}

.header__name-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header__name-content img {
  width: 30px;
  height: 30px;
}

.hero__header .header__name {
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.hero__header .header__profile {
  margin-bottom: 10px;
}

.hero__header .header__phrase span {
  font-weight: bolder;
}

/* main */
.hero__main {
  width: 100%;
}

.hero__main .main__twig {
  border: 2px solid black;
  height: 43px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  transition: 1s;
  box-shadow: 7px 5px 0 1px black;
}

.hero__main a:nth-child(4) .main__twig {
  box-shadow: none;
}

.main__twig img {
  width: 24px;
  height: 24px;
}

.main__twig:not(a:nth-child(4) .main__twig):hover {
  transform: scale(0.9);
  box-shadow: none;
}

.hero__main a:nth-child(1) .main__twig {
  background-color: #0156ac;
}

.hero__main a:nth-child(2) .main__twig {
  background-color: #f6219e;
}

.hero__main a:nth-child(3) .main__twig {
  background-color: #7325ae;
}

.hero__main a:nth-child(4) .main__twig {
  background-color: #b8b8b8;
}

a {
  color: black;
  text-decoration: none;
}

.hero__footer {
  text-align: center;
  margin-top: 20px;
}

.message span {
  font-style: italic;
}
